temp outline class,
delete after header,
section,
div,
footer,
nav {
	border: 1px solid red;
}

/* header css */

.body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
	display: flex;
	justify-content: space-between;
}
/* content css  */
.portfolio-image {
	float: left;
	height: auto;
	max-width: 15%;
	padding: 24px;
}

.section-content {
	max-width: 960px;
}

.section-main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

/* footer css */
.footer {
	display: flex;
	justify-content: center;
}
