/* temp outline class,
delete after header,
section,
div,
footer,
nav,
a {
	border: 1px solid red;
} */

/* header css */

.body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
	background-color: gray;
	border-bottom: 4px black solid;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.nav-icons {
	color: white;
	text-decoration: none;
	padding: 24px;
}

/* content css  */
.portfolio-image {
	float: left;
	height: auto;
	max-width: 15%;
	padding: 24px;
}

.section-content {
	max-width: 960px;
}

.section-header {
	border-bottom: 1px solid black;
	padding: 24px;
	margin-bottom: 24px;
}

.section-main {
	background-image: url(../img/grey.png);
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

/* footer css */
.footer {
	display: flex;
	justify-content: center;
}
